{% extends 'base.html.twig' %}

{% block title %}Chleehof VomHof{% endblock %}

{% block navigation %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url("create_invoice") }}">{{ 'actions.create'|trans({'%modelName%': 'models.invoice.modelName.singular'|trans}) }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url("products") }}">{{ 'models.product.modelName.plural'|trans }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url("customers") }}">{{ 'models.customer.modelName.plural'|trans }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url("invoices") }}">{{ 'models.invoice.modelName.plural'|trans }}</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}
